.da-autocomplete
  display: inline-block
  color: $text-color
  font:
    family: $font-family
    weight: $font-weight
    size: $font-size
  line-height: $line-height

  &__search
    position: relative

    &-control
      color: inherit
      font: inherit

    &-placeholder
      position: absolute
      left: 0
      top: 50%
